<div class="botones w3-bar w3-display-middle">
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/arrendatarios/crear">Crear Arrendatario</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/arrendatarios/modificar">Modificar Arrendatario</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/arrendatarios/ver">Consultar Arrendatario</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/arrendatarios/eliminar">Eliminar Arrendatario</a></button>
</div>
