
<div class="w3-container w3-green " xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <a href="#"><i class="w3-xxxlarge w3-right fa fa-home"></i></a>
  <h2>Modificar Parcela</h2>
</div>

<div class="w3-margin">
  <input id="input_id" class="w3-input w3-margin w3-half" type="number" name="texto" placeholder="id del terreno" [(ngModel)]="idTerreno">
  <input id="input_nParcela" class="w3-input w3-margin w3-half" type="number" name="texto" placeholder="numero de la parcela" [(ngModel)]="nParcela">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <button id="botonConsultar" class="w3-btn w3-hover-green w3-blue-grey w3-margin w3-left" (click)="consultarParcela()">Modificar Parcela</button>

  <div *ngIf="encontrado == true">

    <form class="w3-container w3-margin">

      <label class="w3-text-black"><b>Ubicación (coordenadas)</b></label>

      <div class="w3-row-padding">
        <div class="w3-half">
          <input id="latitud" class="w3-input w3-border" required="required" type="number" name="latitud" placeholder="Latitud" [(ngModel)]="latitud">
        </div>
        <div class="w3-half">
          <input id="longitud" class="w3-input w3-border" required="required" type="number" name="longitud" placeholder="Longitud" [(ngModel)]="longitud">
        </div>
      </div>


      <label class="w3-text-black"><b>Tamaño (hectáreas)</b></label>
      <input id="tamano" class="w3-input w3-border w3-light-grey" required="required" name="tamano" type="number" [(ngModel)]="tamano">


      <label class="w3-text-black"><b>Límites (descripción)</b></label>

      <div class="w3-row-padding">
        <input id="limite_x" class="w3-input w3-border" required="required" name="limites" type="text" placeholder="Un rio, un camino, etc." [(ngModel)]="limites">
      </div>


      <input id="boton_disponible" class="w3-radio w3-margin" type="checkbox" name="tipo" value="finca" [(ngModel)]="disponibilidad">
      <label>Disponible</label>

      <br>

      <button id="botonRegistro" class="w3-btn w3-hover-green w3-blue-grey w3-right w3-margin" (click)="modificarParcela()">Guardar modificaciones</button>
    </form>


  </div>
