<div class="botones w3-bar w3-display-middle">
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/parcelas/crear">Crear Parcela</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/parcelas/modificar">Modificar Parcela</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/parcelas/ver">Consultar Parcela</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/parcelas/eliminar">Eliminar Parcela</a></button>
</div>
