<div class="botones w3-bar w3-display-middle">
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/terrenos/crear">Crear Terreno</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/terrenos/modificar">Modificar Terreno</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/terrenos/ver">Consultar Terreno</a></button>
  <button class="w3-bar-item w3-green w3-btn w3-round-xxlarg"><a href="/terrenos/eliminar">Eliminar Terreno</a></button>
</div>
