<div class="w3-container w3-green " xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <a href="#"><i class="w3-xxxlarge w3-right fa fa-home"></i></a>
  <h2>Eliminar Parcela</h2>
</div>

<input id="input_id" class="w3-input w3-margin w3-half" type="number" name="texto" placeholder="id del terreno" [(ngModel)]="id">
<input id="input_nParcela" class="w3-input w3-margin w3-half" type="number" name="texto" placeholder="numero de la parcela" [(ngModel)]="nParcela">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button id="botonConsultar" class="w3-btn w3-hover-green w3-blue-grey w3-margin" (click)="consultarParcela(id)">Eliminar Parcela</button>

<div *ngIf="encontrado == true">
  <p>Parcela con id: {{id}} eliminada con éxito</p>
</div>
